p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.p1 {
    font-size: 14px;
    color: rgb(157, 157, 157);
    padding-top: 5px;
}

.p2 {
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 17px;
}

.p3 {
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 15px;
}

.p4 {
    color: rgb(157, 157, 157);
    font-size: 14px;
}

.p5 {
    color: rgb(157, 157, 157);
    font-size: 14px;
}

.i1 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.d5 {
    display: inline-block;
    padding-left: 8px;
}

.d4 {
    display: inline-block;
    margin-left: 10px;
}

.d6 {
    display: inline-block;
    vertical-align: top;
}

.d2 {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.d1 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
    height: 115px;
    width: 428px;
}

