.d2 {
    background-color: lightpink;
    width: 100px;
}

.d3 {
    background-color: lightblue;
    width: 200px;
}

.d1 {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.d5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.d6, .d7 {
    background-color: black;
    color: white;
}