p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.s1 {
    font-size: 40px;
}

.s2 {
    color: grey;
    font-size: 18px;
}

.p1 {
    color: green;
    margin-top: 2px;
    font-size: 18px;
    margin-bottom: 3px;
}

.s3 {
    color: grey;
    font-size: 18px;
}

.s4 {
    color: red;
    font-size: 18px;
}